*{
    box-sizing: border-box;
    width: 1200px;
    background-color: white;
}
html{
    margin: 0 auto;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   /* border: 2px solid green;*/
}

/*HEADER*/

.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 47px;
    padding: 0;
    align-items: center;
    /*border: 1px solid fuchsia*/
   
}

.nav__logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
   /*border: 1px solid greenyellow*/
}

.logo{
    width: 185.34px;
    height: 31.97px;
    padding: 0;
    margin: auto;
}

.nav__menu{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 3px solid rebeccapurple;*/
}

.nav__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    margin: 0;
    /*border: 1px solid salmon;*/
    justify-content: space-evenly;
    width: 80%;
    
    
}

.nav__list-li{
    width: auto;
    /*border: 2px solid skyblue;*/
  
   
    
    
}

.nav__list-link {
    text-decoration: none;       
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: black;
    

}

.nav__btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 14px;
    width: auto;
   /* border: 2px solid blue;*/
    margin-left: 29px;


}

.nav__btn-sign-in{
    width: 102px;
    height: 46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.nav__btn-sign-in-hover{
    text-decoration: none;
    color: black;
}

.nav__btn-sign-up{
    width: 110px;
    height: 46px;
    background-color: #FF9900;
    border-radius: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    color: white;
}

.nav__btn-sign-up-hover{
    text-decoration: none;
    color: white;
}

/*THE DESIGN THINKING SUPERPOWERS*/
.main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 110px;
   /* border: 1px slateblue solid;*/
    
}

.main__obj{
    width: 100%;
   /* border: 2px solid orange;*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.main__text{
    /*border: 2px solid khaki;*/
    display: flex;
    flex-direction: column;
    margin: 0;

    width: 100%;
}

.main__text-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    width: 100%;
  /*  border: 2px teal solid;*/
    
   
}

.main__text-content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837; 
    width: 65%;
   /* border: 2px darkkhaki solid;*/
}

.main__btn{
    width: 60%;
    display: flex;
    flex-direction: row;
   /* border: 2px yellowgreen solid;*/
    justify-content: space-between;
 
}

.btn-start{
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    /*border: 1px sienna solid;*/
}

.btn-start-hover{
    text-decoration: none;
    color: white;
}
.btn-video{
    width: 170px;
    height: 23px;
    color: #FF9900;
    align-self:center;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.btn-video-link{
    color: #FF9900;

}

.main__pic{
    display: flex;
    justify-content: flex-end;
}

.main__pic-pic{
    width: 605px;
    height: 496px;
    
}

/*TOOLS TO UNVEIL*/
.tools{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
    /*border: 2px thistle solid;*/
}

.tools__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
    width: 40%;
    margin-bottom: 54px;
}

.tools__choices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  /*  border: 2px royalblue solid;*/  
    width: 100%;
   
    
    
}

.tools__choices-flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 240px;
    
}

.tools__choices-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    width: 100%;
    /*border: 2px solid violet;*/
    padding: 0;
    margin-bottom: 0;
}

.tools__choices-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    width: 90%;
    /*border: 2px solid seagreen;*/
    padding: 0;
}


.tools__choices-pic{
    width: 51px;
    height: 50px;
}

.tools__btn{
    width: 175px;
    height: 53px;
    border: none;
    color: white;
    background-color: #FF9900;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 34px;
    margin-bottom: 90px;
}
.tools__btn-hover{
    text-decoration: none;
    color: white;
}

/*DESIGN PROFESSIONALS*/
.design-professionals{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*border: 3px fuchsia solid;*/
    margin-bottom: 101px;
}

.design-professionals-text{
    display: flex;
    flex-direction: column;
    /*border: 2px black solid;*/
    width: 50%;

    
}


.design-professionals-text-1__cont1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #544837;
}

.design-professionals-text-1__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: black;
    margin: 0;
}

.design-professionals-text-2__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: black;
    width: 40%;
}

.design-professionals-text-2__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: black;
    margin:0;
}

.design-professionals-img{
    padding: 0;
    margin: 0;
}

.design-professionals-img-pic{
    width: 520px;
    height: 574px;
    align-self: self-end;

}